node_modules/
.pnpm/
.next/
canteen.db
npm-debug.log*
yarn-error.log
dist/
electron-app/node_modules/
electron-app/dist/
backups/
/Camp Canteen POS/
/chrome_*.pak
/resources/
/resources.pak
/locales/
/d3dcompiler_47.dll
/ffmpeg.dll
/icudtl.dat
/libEGL.dll
/libGLESv2.dll
/v8_context_snapshot.bin
/vk_swiftshader.dll
.env
.env.*
.DS_Store
